@media only screen and (min-width:1200px){
    div.collection{
        width:100% ;
        height:auto;
        background:linear-gradient(to bottom,rgba(51,51,51,0.75),rgba(51,51,51,0.75)), url("../images/tshirt-ftr.png") no-repeat center center;
        background-size: cover;
        background-blend-mode: multiply;
        padding-top: 70px;
        padding-bottom: 120px;
        box-sizing: content-box;
    }
    div.collection>h1{
        width: 100%;
        height: auto;
        text-align: center;
        font-family: "roboto regular";
        font-size: 40px;
        text-transform: uppercase;
    }
    div.collection>h1>span{
        color: #0099ff;
        padding-right: 2px;
        font-family: "roboto regular";
        font-size: 40px;
    }
    div.collection>div{
        width: 100%;
        height: auto;
        margin-top: 110px;
        display: flex;
        justify-content: center;
    }
    div.collection>div>div{
        width: 20%;
        height: 320px;
        margin: 0 20px;
        position: relative;
        overflow: hidden;
        box-shadow: 5px 5px 5px black;
    }
    div.collection>div>div>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div.collection>div>div>div.price{
        width: 100%;
        height: 13%;
        position: absolute;
        background-color: #666666;
        bottom: 0;
        transition: all 300ms linear;
        cursor: pointer;
    }
    div.collection>div>div>div.price>h1{
        width: 75%;
        height: 13%;
        text-align: left;
        color: white;
        font-family: "roboto regular";
        font-size: 20px;
        padding-left: 10px;
        line-height: 45px;
        text-transform: uppercase;
        display: inline-block;
    }
    div.collection>div>div>div.price>div.dolar{
        width: 25%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #999999;
        z-index: 10;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.price>div.dolar>h1{
        font-family: "roboto regular";
        font-size: 20px;
        text-align: center;
        color: white;
        line-height: 45px;
        width: auto;
        height: 100%;
    }
    div.collection>div>div>div.cover{
        width: 100%;
        height: 87%;
        position: absolute;
        background-color:#666666;
        left:-100%;
        top:0;
        display: flex;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.top{
        position: absolute;
        width: 100%;
        height: 50px;
        top: 30%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    div.collection>div>div>div.cover>div.top>div{
        width: 20%;
        height: inherit;
        margin: 0 2%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.top>div>i{
        font-size: 25px;
        line-height: 50px;
        color: white;
    }
    div.collection>div>div>div.cover>div.bottom{
        width:68% ;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 55%;
        left: calc(50% - 68%/2);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.bottom>h1{
        text-align: center;
        font-size: 18px;
        line-height: 50px;
        font-family: "myriad pro regular";
        color: white;
        text-transform: uppercase;
    }
    div.collection>div>div>div.cover>div.bottom>h1>i{
        padding-right: 10px;
    }
    div.collection>div>div:hover>div.cover{
        left: 0;
    }
    div.collection>div>div:hover>div.price{
        background-color: #0099ff;
    }
    div.collection>div>div:hover>div.price>div.dolar{
        background-color: #99cccc;
    }
    div.collection>div>div>div.cover>div.top>div:hover,div.collection>div>div>div.cover>div.bottom:hover{
        box-shadow: inset 2px 2px 5px #0099ff,inset -2px -2px 5px #0099ff;
    }
}
@media only screen and (min-width: 990px) and (max-width: 1200px){
    div.collection{
        width:100% ;
        height:auto;
        background:linear-gradient(to bottom,rgba(51,51,51,0.75),rgba(51,51,51,0.75)), url("../images/tshirt-ftr.png") no-repeat center center;
        background-size: cover;
        background-blend-mode: multiply;
        padding-top: 70px;
        padding-bottom: 120px;
        box-sizing: content-box;
    }
    div.collection>h1{
        width: 100%;
        height: auto;
        text-align: center;
        font-family: "roboto regular";
        font-size: 38px;
        text-transform: uppercase;
    }
    div.collection>h1>span{
        color: #0099ff;
        padding-right: 2px;
        font-family: "roboto regular";
        font-size: 38px;
    }
    div.collection>div{
        width: 100%;
        height: auto;
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
    div.collection>div>div{
        width: 21%;
        height: 300px;
        margin: 0 15px;
        position: relative;
        overflow: hidden;
        box-shadow: 5px 5px 5px black;
    }
    div.collection>div>div>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div.collection>div>div>div.price{
        width: 100%;
        height: 13%;
        position: absolute;
        background-color: #666666;
        bottom: 0;
        transition: all 300ms linear;
        cursor: pointer;
    }
    div.collection>div>div>div.price>h1{
        width: 75%;
        height: 13%;
        text-align: left;
        color: white;
        font-family: "roboto regular";
        font-size: 20px;
        padding-left: 10px;
        line-height: 40px;
        text-transform: uppercase;
        display: inline-block;
    }
    div.collection>div>div>div.price>div.dolar{
        width: 25%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #999999;
        z-index: 10;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.price>div.dolar>h1{
        font-family: "roboto regular";
        font-size: 20px;
        text-align: center;
        color: white;
        line-height: 40px;
        width: auto;
        height: 100%;
    }
    div.collection>div>div>div.cover{
        width: 100%;
        height: 87%;
        position: absolute;
        background-color:#666666;
        left:-100%;
        top:0;
        display: flex;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.top{
        position: absolute;
        width: 100%;
        height: 50px;
        top: 30%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    div.collection>div>div>div.cover>div.top>div{
        width: 20%;
        height: inherit;
        margin: 0 2%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.top>div>i{
        font-size: 22px;
        line-height: 50px;
        color: white;
    }
    div.collection>div>div>div.cover>div.bottom{
        width:68% ;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 55%;
        left: calc(50% - 68%/2);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.bottom>h1{
        text-align: center;
        font-size: 18px;
        line-height: 50px;
        font-family: "myriad pro regular";
        color: white;
        text-transform: uppercase;
    }
    div.collection>div>div>div.cover>div.bottom>h1>i{
        padding-right: 10px;
    }
    div.collection>div>div:hover>div.cover{
        left: 0;
    }
    div.collection>div>div:hover>div.price{
        background-color: #0099ff;
    }
    div.collection>div>div:hover>div.price>div.dolar{
        background-color: #99cccc;
    }
    div.collection>div>div>div.cover>div.top>div:hover,div.collection>div>div>div.cover>div.bottom:hover{
        box-shadow: inset 2px 2px 5px #0099ff,inset -2px -2px 5px #0099ff;
    }
}
@media only screen and (min-width: 768px) and (max-width: 990px){
    div.collection{
        width:100% ;
        height:auto;
        background:linear-gradient(to bottom,rgba(51,51,51,0.75),rgba(51,51,51,0.75)), url("../images/tshirt-ftr.png") no-repeat center center;
        background-size: cover;
        background-blend-mode: multiply;
        padding-top: 70px;
        padding-bottom: 120px;
        box-sizing: content-box;
    }
    div.collection>h1{
        width: 100%;
        height: auto;
        text-align: center;
        font-family: "roboto regular";
        font-size: 36px;
        text-transform: uppercase;
    }
    div.collection>h1>span{
        color: #0099ff;
        padding-right: 2px;
        font-family: "roboto regular";
        font-size: 36px;
    }
    div.collection>div{
        width: 100%;
        height: auto;
        margin-top: 90px;
        display: flex;
        justify-content: center;
    }
    div.collection>div>div{
        width: 23%;
        height: 280px;
        margin: 0 12px;
        position: relative;
        overflow: hidden;
        box-shadow: 5px 5px 5px black;
    }
    div.collection>div>div>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div.collection>div>div>div.price{
        width: 100%;
        height: 13%;
        position: absolute;
        background-color: #666666;
        bottom: 0;
        transition: all 300ms linear;
        cursor: pointer;
    }
    div.collection>div>div>div.price>h1{
        width: 75%;
        height: 13%;
        text-align: left;
        color: white;
        font-family: "roboto regular";
        font-size: 20px;
        padding-left: 10px;
        line-height: 36px;
        text-transform: uppercase;
        display: inline-block;
    }
    div.collection>div>div>div.price>div.dolar{
        width: 25%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #999999;
        z-index: 10;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.price>div.dolar>h1{
        font-family: "roboto regular";
        font-size: 20px;
        text-align: center;
        color: white;
        line-height: 36px;
        width: auto;
        height: 100%;
    }
    div.collection>div>div>div.cover{
        width: 100%;
        height: 87%;
        position: absolute;
        background-color:#666666;
        left:-100%;
        top:0;
        display: flex;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.top{
        position: absolute;
        width: 100%;
        height: 50px;
        top: 30%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    div.collection>div>div>div.cover>div.top>div{
        width: 20%;
        height: inherit;
        margin: 0 2%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.top>div>i{
        font-size: 20px;
        line-height: 50px;
        color: white;
    }
    div.collection>div>div>div.cover>div.bottom{
        width:68% ;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 55%;
        left: calc(50% - 68%/2);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.bottom>h1{
        text-align: center;
        font-size: 14px;
        line-height: 50px;
        font-family: "myriad pro regular";
        color: white;
        text-transform: uppercase;
    }
    div.collection>div>div>div.cover>div.bottom>h1>i{
        padding-right: 5px;
    }
    div.collection>div>div:hover>div.cover{
        left: 0;
    }
    div.collection>div>div:hover>div.price{
        background-color: #0099ff;
    }
    div.collection>div>div:hover>div.price>div.dolar{
        background-color: #99cccc;
    }
    div.collection>div>div>div.cover>div.top>div:hover,div.collection>div>div>div.cover>div.bottom:hover{
        box-shadow: inset 2px 2px 5px #0099ff,inset -2px -2px 5px #0099ff;
    }
}
@media only screen and (min-width: 540px) and (max-width: 768px){
    div.collection{
        width:100% ;
        height:auto;
        background:linear-gradient(to bottom,rgba(51,51,51,0.75),rgba(51,51,51,0.75)), url("../images/tshirt-ftr.png") no-repeat center center;
        background-size: cover;
        background-blend-mode: multiply;
        padding-top: 50px;
        padding-bottom: 70px;
        box-sizing: content-box;
    }
    div.collection>h1{
        width: 100%;
        height: auto;
        text-align: center;
        font-family: "roboto regular";
        font-size: 34px;
        text-transform: uppercase;
    }
    div.collection>h1>span{
        color: #0099ff;
        padding-right: 2px;
        font-family: "roboto regular";
        font-size: 34px;
    }
    div.collection>div{
        width: 100%;
        height: auto;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    div.collection>div>div{
        width: 40%;
        height: 290px;
        margin-top: 50px;
        position: relative;
        overflow: hidden;
        box-shadow: 5px 5px 5px black;
    }
    div.collection>div>div>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div.collection>div>div>div.price{
        width: 100%;
        height: 13%;
        position: absolute;
        background-color: #666666;
        bottom: 0;
        transition: all 300ms linear;
        cursor: pointer;
    }
    div.collection>div>div>div.price>h1{
        width: 75%;
        height: 13%;
        text-align: left;
        color: white;
        font-family: "roboto regular";
        font-size: 20px;
        padding-left: 10px;
        line-height: 40px;
        text-transform: uppercase;
        display: inline-block;
    }
    div.collection>div>div>div.price>div.dolar{
        width: 25%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #999999;
        z-index: 10;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.price>div.dolar>h1{
        font-family: "roboto regular";
        font-size: 20px;
        text-align: center;
        color: white;
        line-height: 40px;
        width: auto;
        height: 100%;
    }
    div.collection>div>div>div.cover{
        width: 100%;
        height: 87%;
        position: absolute;
        background-color:#666666;
        left:-100%;
        top:0;
        display: flex;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.top{
        position: absolute;
        width: 100%;
        height: 50px;
        top: 30%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    div.collection>div>div>div.cover>div.top>div{
        width: 20%;
        height: inherit;
        margin: 0 2%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.top>div>i{
        font-size: 25px;
        line-height: 50px;
        color: white;
    }
    div.collection>div>div>div.cover>div.bottom{
        width:68% ;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 55%;
        left: calc(50% - 68%/2);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.bottom>h1{
        text-align: center;
        font-size: 20px;
        line-height: 50px;
        font-family: "myriad pro regular";
        color: white;
        text-transform: uppercase;
    }
    div.collection>div>div>div.cover>div.bottom>h1>i{
        padding-right: 15px;
    }
    div.collection>div>div:hover>div.cover{
        left: 0;
    }
    div.collection>div>div:hover>div.price{
        background-color: #0099ff;
    }
    div.collection>div>div:hover>div.price>div.dolar{
        background-color: #99cccc;
    }
    div.collection>div>div>div.cover>div.top>div:hover,div.collection>div>div>div.cover>div.bottom:hover{
        box-shadow: inset 2px 2px 5px #0099ff,inset -2px -2px 5px #0099ff;
    }
}
@media only screen and (max-width: 540px){
    div.collection{
        width:100% ;
        height:auto;
        background:linear-gradient(to bottom,rgba(51,51,51,0.75),rgba(51,51,51,0.75)), url("../images/tshirt-ftr.png") no-repeat center center;
        background-size: cover;
        background-blend-mode: multiply;
        padding-top: 50px;
        padding-bottom: 70px;
        box-sizing: content-box;
    }
    div.collection>h1{
        width: 100%;
        height: auto;
        text-align: center;
        font-family: "roboto regular";
        font-size: 32px;
        text-transform: uppercase;
    }
    div.collection>h1>span{
        color: #0099ff;
        padding-right: 2px;
        font-family: "roboto regular";
        font-size: 32px;
    }
    div.collection>div{
        width: 100%;
        height: auto;
        margin-top: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    div.collection>div>div{
        width: 50%;
        height: 280px;
        margin-top: 50px;
        position: relative;
        overflow: hidden;
        box-shadow: 5px 5px 5px black;
    }
    div.collection>div>div>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div.collection>div>div>div.price{
        width: 100%;
        height: 13%;
        position: absolute;
        background-color: #666666;
        bottom: 0;
        transition: all 300ms linear;
        cursor: pointer;
    }
    div.collection>div>div>div.price>h1{
        width: 75%;
        height: 13%;
        text-align: left;
        color: white;
        font-family: "roboto regular";
        font-size: 20px;
        padding-left: 10px;
        line-height: 36px;
        text-transform: uppercase;
        display: inline-block;
    }
    div.collection>div>div>div.price>div.dolar{
        width: 25%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #999999;
        z-index: 10;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.price>div.dolar>h1{
        font-family: "roboto regular";
        font-size: 20px;
        text-align: center;
        color: white;
        line-height: 36px;
        width: auto;
        height: 100%;
    }
    div.collection>div>div>div.cover{
        width: 100%;
        height: 87%;
        position: absolute;
        background-color:#666666;
        left:-100%;
        top:0;
        display: flex;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.top{
        position: absolute;
        width: 100%;
        height: 50px;
        top: 30%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    div.collection>div>div>div.cover>div.top>div{
        width: 20%;
        height: inherit;
        margin: 0 2%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.top>div>i{
        font-size: 25px;
        line-height: 50px;
        color: white;
    }
    div.collection>div>div>div.cover>div.bottom{
        width:68% ;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 55%;
        left: calc(50% - 68%/2);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.collection>div>div>div.cover>div.bottom>h1{
        text-align: center;
        font-size: 20px;
        line-height: 50px;
        font-family: "myriad pro regular";
        color: white;
        text-transform: uppercase;
    }
    div.collection>div>div>div.cover>div.bottom>h1>i{
        padding-right: 15px;
    }
    div.collection>div>div:hover>div.cover{
        left: 0;
    }
    div.collection>div>div:hover>div.price{
        background-color: #0099ff;
    }
    div.collection>div>div:hover>div.price>div.dolar{
        background-color: #99cccc;
    }
    div.collection>div>div>div.cover>div.top>div:hover,div.collection>div>div>div.cover>div.bottom:hover{
        box-shadow: inset 2px 2px 5px #0099ff,inset -2px -2px 5px #0099ff;
    }
}