@media only screen and (min-width: 1200px){
    div.products{
        width: 100%;
        height: auto;
        padding-top: 100px;
        background:linear-gradient(to bottom,rgba(51,51,51,0.5),rgba(51,51,51,05)), url("../images/back ground.jpg") no-repeat center center fixed;
        background-size: cover;
        background-blend-mode: multiply;
        padding-bottom: 150px;
        box-sizing: content-box;
    }
    div.products>h1{
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: "roboto regular";
        font-size: 36px;
        margin-bottom: 120px;
        box-sizing: content-box;
    }
    div.products>h1>span{
        color: #0099ff;
    }
    div.products>div{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
    }
    div.products>div>div{
        background-color: white;
        width: 25%;
        height: inherit;
        margin: 0 20px;
        position: relative;
        overflow: hidden;
        box-shadow: 5px 5px 5px black;
    }
    div.products>div>div>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div.products>div>div>div.cover{
        width: 100%;
        height: 87%;
        background-color:#666666 ;
        position: absolute;
        top: 0;
        left: -100%;
        display: flex;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.top{
        position: absolute;
        width: 100%;
        height: 50px;
        top: 30%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    div.products>div>div>div.cover>div.top>div{
        width: 20%;
        height: inherit;
        margin: 0 2%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.top>div>i{
        font-size: 25px;
        line-height: 50px;
        color: white;
    }
    div.products>div>div>div.cover>div.bottom{
        width:68% ;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 55%;
        left: calc(50% - 68%/2);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.bottom>h1{
        text-align: center;
        font-size: 20px;
        line-height: 50px;
        font-family: "myriad pro regular";
        color: white;
        text-transform: uppercase;
    }
    div.products>div>div>div.cover>div.bottom>h1>i{
        padding-right: 15px;
    }
    div.products>div>div:hover>div.cover{
        left: 0;
    }
    div.products>div>div>div.price{
        width: 75%;
        height: 13%;
        background-color: #666666;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-left: 15px;
        transition: all 300ms linear;

    }
    div.products>div>div>div.price>h1{
        font-family: "myriad pro regular";
        text-transform: uppercase;
        color: whitesmoke;
        text-align: left;
        line-height: 52px;
        font-size: 22px;
    }
    div.products>div>div>div.dolar{
        width: 25%;
        height: 13%;
        background-color: #999999;
        position: absolute;
        right: 0;
        bottom: 0;
        transition: all 300ms linear;
    }
    div.products>div>div>div.dolar>h1{
        font-family: "myriad pro regular";
        text-transform: uppercase;
        color: whitesmoke;
        text-align: center;
        line-height: 52px;
        font-size: 22px;
    }
    div.products>div>div:hover>div.price{
        background-color: #0099ff;
    }
    div.products>div>div:hover>div.dolar{
        background-color: #99cccc;
    }
    div.products>div>div>div.cover>div.top>div:hover,div.products>div>div>div.cover>div.bottom:hover{
        box-shadow: inset 2px 2px 5px #0099ff,inset -2px -2px 5px #0099ff;
    }
}
@media only screen and (min-width: 990px) and (max-width: 1200px){
    div.products{
        width: 100%;
        height: auto;
        padding-top: 95px;
        background:linear-gradient(to bottom,rgba(51,51,51,0.5),rgba(51,51,51,05)), url("../images/back ground.jpg") no-repeat center center fixed;
        background-size: cover;
        background-blend-mode: multiply;
        padding-bottom: 150px;
    }
    div.products>h1{
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: "roboto regular";
        font-size: 34px;
        margin-bottom: 120px;
        box-sizing: content-box;
    }
    div.products>h1>span{
        color: #0099ff;
    }
    div.products>div{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
    }
    div.products>div>div{
        background-color: white;
        width: 26%;
        height: inherit;
        margin: 0 15px;
        position: relative;
        overflow: hidden;
        box-shadow: 5px 5px 5px black;
    }
    div.products>div>div>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div.products>div>div>div.cover{
        width: 100%;
        height: 87%;
        background-color:#666666 ;
        position: absolute;
        top: 0;
        left: -100%;
        display: flex;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.top{
        position: absolute;
        width: 100%;
        height: 50px;
        top: 30%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    div.products>div>div>div.cover>div.top>div{
        width: 20%;
        height: inherit;
        margin: 0 2%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.top>div>i{
        font-size: 22px;
        line-height: 50px;
        color: white;
    }
    div.products>div>div>div.cover>div.bottom{
        width:68% ;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 55%;
        left: calc(50% - 68%/2);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.bottom>h1{
        text-align: center;
        font-size: 18px;
        line-height: 50px;
        font-family: "myriad pro regular";
        color: white;
        text-transform: uppercase;
    }
    div.products>div>div>div.cover>div.bottom>h1>i{
        padding-right: 10px;
    }
    div.products>div>div:hover>div.cover{
        left: 0;
    }
    div.products>div>div>div.price{
        width: 75%;
        height: 13%;
        background-color: #666666;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-left: 15px;
        transition: all 300ms linear;
    }
    div.products>div>div>div.price>h1{
        font-family: "myriad pro regular";
        text-transform: uppercase;
        color: whitesmoke;
        text-align: left;
        line-height: 52px;
        font-size: 22px;
    }
    div.products>div>div>div.dolar{
        width: 25%;
        height: 13%;
        background-color: #999999;
        position: absolute;
        right: 0;
        bottom: 0;
        transition: all 300ms linear;
    }
    div.products>div>div>div.dolar>h1{
        font-family: "myriad pro regular";
        text-transform: uppercase;
        color: whitesmoke;
        text-align: center;
        line-height: 52px;
        font-size: 22px;
    }
    div.products>div>div:hover>div.price{
        background-color: #0099ff;
    }
    div.products>div>div:hover>div.dolar{
        background-color: #99cccc;
    }
    div.products>div>div>div.cover>div.top>div:hover,div.products>div>div>div.cover>div.bottom:hover{
        box-shadow: inset 2px 2px 5px #0099ff,inset -2px -2px 5px #0099ff;
    }
}
@media only screen and (min-width: 768px) and  (max-width: 990px){
    div.products{
        width: 100%;
        height: auto;
        padding-top: 100px;
        background:linear-gradient(to bottom,rgba(51,51,51,0.5),rgba(51,51,51,05)), url("../images/back ground.jpg") no-repeat center center fixed;
        background-size: cover;
        background-blend-mode: multiply;
        padding-bottom: 150px;
    }
    div.products>h1{
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: "roboto regular";
        font-size: 36px;
        margin-bottom: 120px;
        box-sizing: content-box;
    }
    div.products>h1>span{
        color: #0099ff;
    }
    div.products>div{
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;
    }
    div.products>div>div{
        background-color: white;
        width: 28%;
        height: inherit;
        margin: 0 15px;
        position: relative;
        overflow: hidden;
        box-shadow: 5px 5px 5px black;
    }
    div.products>div>div>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div.products>div>div>div.cover{
        width: 100%;
        height: 87%;
        background-color:#666666 ;
        position: absolute;
        top: 0;
        left: -100%;
        display: flex;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.top{
        position: absolute;
        width: 100%;
        height: 50px;
        top: 30%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    div.products>div>div>div.cover>div.top>div{
        width: 20%;
        height: inherit;
        margin: 0 2%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.top>div>i{
        font-size: 20px;
        line-height: 50px;
        color: white;
    }
    div.products>div>div>div.cover>div.bottom{
        width:68% ;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 55%;
        left: calc(50% - 68%/2);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.bottom>h1{
        text-align: center;
        font-size: 16px;
        line-height: 50px;
        font-family: "myriad pro regular";
        color: white;
        text-transform: uppercase;
    }
    div.products>div>div>div.cover>div.bottom>h1>i{
        padding-right: 5px;
    }
    div.products>div>div:hover>div.cover{
        left: 0;
    }
    div.products>div>div>div.price{
        width: 75%;
        height: 13%;
        background-color: #666666;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-left: 15px;
        transition: all 300ms linear;

    }
    div.products>div>div>div.price>h1{
        font-family: "myriad pro regular";
        text-transform: uppercase;
        color: whitesmoke;
        text-align: left;
        line-height: 46px;
        font-size: 22px;
    }
    div.products>div>div>div.dolar{
        width: 25%;
        height: 13%;
        background-color: #999999;
        position: absolute;
        right: 0;
        bottom: 0;
        transition: all 300ms linear;
    }
    div.products>div>div>div.dolar>h1{
        font-family: "myriad pro regular";
        text-transform: uppercase;
        color: whitesmoke;
        text-align: center;
        line-height: 46px;
        font-size: 22px;
    }
    div.products>div>div:hover>div.price{
        background-color: #0099ff;
    }
    div.products>div>div:hover>div.dolar{
        background-color: #99cccc;
    }
    div.products>div>div>div.cover>div.top>div:hover,div.products>div>div>div.cover>div.bottom:hover{
        box-shadow: inset 2px 2px 5px #0099ff,inset -2px -2px 5px #0099ff;
    }
}
@media only screen  and (min-width: 540px) and (max-width: 768px){
    div.products{
        width: 100%;
        height: auto;
        padding-top: 50px;
        background:linear-gradient(to bottom,rgba(51,51,51,0.5),rgba(51,51,51,05)), url("../images/back ground.jpg") no-repeat center center fixed;
        background-size: cover;
        background-blend-mode: multiply;
        padding-bottom: 60px;
    }
    div.products>h1{
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: "roboto regular";
        font-size: 36px;
        margin-bottom: 60px;
        box-sizing: content-box;
    }
    div.products>h1>span{
        color: #0099ff;
    }
    div.products>div{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    div.products>div>div{
        background-color: white;
        width: 45%;
        height: 375px;
        margin: 25px 0;
        position: relative;
        overflow: hidden;
        align-self: center;
        box-shadow: 5px 5px 5px black;
    }
    div.products>div>div>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div.products>div>div>div.cover{
        width: 100%;
        height: 87%;
        background-color:#666666 ;
        position: absolute;
        top: 0;
        left: -100%;
        display: flex;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.top{
        position: absolute;
        width: 100%;
        height: 50px;
        top: 30%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    div.products>div>div>div.cover>div.top>div{
        width: 20%;
        height: inherit;
        margin: 0 2%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.top>div>i{
        font-size: 25px;
        line-height: 50px;
        color: white;
    }
    div.products>div>div>div.cover>div.bottom{
        width:68% ;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 55%;
        left: calc(50% - 68%/2);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.bottom>h1{
        text-align: center;
        font-size: 20px;
        line-height: 50px;
        font-family: "myriad pro regular";
        color: white;
        text-transform: uppercase;
    }
    div.products>div>div>div.cover>div.bottom>h1>i{
        padding-right: 15px;
    }
    div.products>div>div:hover>div.cover{
        left: 0;
    }
    div.products>div>div>div.price{
        width: 75%;
        height: 13%;
        background-color: #666666;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-left: 15px;
        transition: all 300ms linear;
    }
    div.products>div>div>div.price>h1{
        font-family: "myriad pro regular";
        text-transform: uppercase;
        color: whitesmoke;
        text-align: left;
        line-height: 48px;
        font-size: 22px;
    }
    div.products>div>div>div.dolar{
        width: 25%;
        height: 13%;
        background-color: #999999;
        position: absolute;
        right: 0;
        bottom: 0;
        transition: all 300ms linear;
    }
    div.products>div>div>div.dolar>h1{
        font-family: "myriad pro regular";
        text-transform: uppercase;
        color: whitesmoke;
        text-align: center;
        line-height: 48px;
        font-size: 22px;
    }
    div.products>div>div:hover>div.price{
        background-color: #0099ff;
    }
    div.products>div>div:hover>div.dolar{
        background-color: #99cccc;
    }
    div.products>div>div>div.cover>div.top>div:hover,div.products>div>div>div.cover>div.bottom:hover{
        box-shadow: inset 2px 2px 5px #0099ff,inset -2px -2px 5px #0099ff;
    }
}
@media only screen and (max-width: 540px){
    div.products{
        width: 100%;
        height: auto;
        padding-top: 40px;
        background:linear-gradient(to bottom,rgba(51,51,51,0.5),rgba(51,51,51,05)), url("../images/back ground.jpg") no-repeat center center fixed;
        background-size: cover;
        background-blend-mode: multiply;
        padding-bottom: 50px;
    }
    div.products>h1{
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: "roboto regular";
        font-size: 36px;
        margin-bottom: 50px;
        box-sizing: content-box;
    }
    div.products>h1>span{
        color: #0099ff;
    }
    div.products>div{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    div.products>div>div{
        background-color: white;
        width: 55%;
        height: 325px;
        margin: 25px 0;
        position: relative;
        overflow: hidden;
        align-self: center;
        box-shadow: 5px 5px 5px black;
    }
    div.products>div>div>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    div.products>div>div>div.cover{
        width: 100%;
        height: 87%;
        background-color:#666666 ;
        position: absolute;
        top: 0;
        left: -100%;
        display: flex;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.top{
        position: absolute;
        width: 100%;
        height: 50px;
        top: 30%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    div.products>div>div>div.cover>div.top>div{
        width: 20%;
        height: inherit;
        margin: 0 2%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.top>div>i{
        font-size: 25px;
        line-height: 50px;
        color: white;
    }
    div.products>div>div>div.cover>div.bottom{
        width:68% ;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 55%;
        left: calc(50% - 68%/2);
        cursor: pointer;
        transition: all 300ms linear;
    }
    div.products>div>div>div.cover>div.bottom>h1{
        text-align: center;
        font-size: 20px;
        line-height: 50px;
        font-family: "myriad pro regular";
        color: white;
        text-transform: uppercase;
    }
    div.products>div>div>div.cover>div.bottom>h1>i{
        padding-right: 15px;
    }
    div.products>div>div:hover>div.cover{
        left: 0;
    }
    div.products>div>div>div.price{
        width: 75%;
        height: 13%;
        background-color: #666666;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-left: 15px;
        transition: all 300ms linear;

    }
    div.products>div>div>div.price>h1{
        font-family: "myriad pro regular";
        text-transform: uppercase;
        color: whitesmoke;
        text-align: left;
        line-height:42px;
        font-size: 22px;
    }
    div.products>div>div>div.dolar{
        width: 25%;
        height: 13%;
        background-color: #999999;
        position: absolute;
        right: 0;
        bottom: 0;
        transition: all 300ms linear;
    }
    div.products>div>div>div.dolar>h1{
        font-family: "myriad pro regular";
        text-transform: uppercase;
        color: whitesmoke;
        text-align: center;
        line-height: 42px;
        font-size: 22px;
    }
    div.products>div>div:hover>div.price{
        background-color: #0099ff;
    }
    div.products>div>div:hover>div.dolar{
        background-color: #99cccc;
    }
    div.products>div>div>div.cover>div.top>div:hover,div.products>div>div>div.cover>div.bottom:hover{
        box-shadow: inset 2px 2px 5px #0099ff,inset -2px -2px 5px #0099ff;
    }
}