@media only screen and (min-width: 1200px){
    div.sale{
        width:100%;
        height:auto;
        background-color: #0099ff;
        padding-top: 110px;
        padding-bottom: 80px;
        box-sizing: content-box;
    }
    div.sale>h1{
        width: 100%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 44px;
        font-family: "roboto light";
    }
    div.sale>h2{
        width: 100%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 30px;
        margin-top: 15px;
        font-family: "roboto light";
    }
}
@media only screen and (min-width: 990px) and (max-width: 1200px){
    div.sale{
        width:100%;
        height:auto;
        background-color: #0099ff;
        padding-top: 100px;
        padding-bottom: 70px;
    }
    div.sale>h1{
        width: 100%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 42px;
        font-family: "roboto light";
    }
    div.sale>h2{
        width: 100%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 28px;
        margin-top: 15px;
        font-family: "roboto light";
    }
}
@media only screen and (min-width: 768px) and (max-width: 990px){
    div.sale{
        width:100%;
        height:auto;
        background-color: #0099ff;
        padding-top: 90px;
        padding-bottom: 80px;
    }
    div.sale>h1{
        width: 100%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 40px;
        font-family: "roboto light";
    }
    div.sale>h2{
        width: 100%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 26px;
        margin-top: 15px;
        font-family: "roboto light";
    }
}
@media only screen and (min-width: 540px) and (max-width: 768px){
    div.sale{
        width:100%;
        height:auto;
        background-color: #0099ff;
        padding-top: 90px;
        padding-bottom: 60px;
    }
    div.sale>h1{
        width: 100%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 38px;
        font-family: "roboto light";
    }
    div.sale>h2{
        width: 100%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 24px;
        margin-top: 15px;
        font-family: "roboto light";
    }
}
@media only screen and (max-width: 540px){
    div.sale{
        width:100%;
        height:auto;
        background-color: #0099ff;
        padding-top: 80px;
        padding-bottom: 55px;
    }
    div.sale>h1{
        width: 100%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 36px;
        font-family: "roboto light";
    }
    div.sale>h2{
        width: 100%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 22px;
        margin-top: 15px;
        font-family: "roboto light";
    }
}